#navbar{
    display: flex;
    justify-content: space-between;
    color: rgb(37, 37, 230);
    background-color: rgb(219, 79, 219);

}

#nextgen{
    display: flex;
    margin-top: 6%;
    justify-content: space-around;
}

.welcome{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 250%;
}


.footer{
    width: 20px;
    display: flex;
    gap: 1000%;
    margin-top: 20%;
    margin-bottom:15% ;
}

@media only screen and (min-width:820px) and(max-width:1180px){
    #navbar{
        display: flex;
        justify-content: space-around;
        color: rgb(37, 37, 230);
        background-color:rgb(219, 79, 219);
        flex-wrap: wrap;
    }

    #nextgen{
        display: flex;
        margin-top: 6%;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .welcome{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 250%;
        flex-wrap: wrap;
    }

    .footer{
        width: 20px;
        display: flex;
        gap: 1000%;
        margin-top: 20%;
        margin-bottom:15% ;
    }

       
    
}