#navbar{
    display: flex;
    justify-content: space-between;
    color: blue;
    background-color: rgb(233, 116, 233);
}

#heading{
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
}

.mentor{
    width: 50%;
    border-radius: 90%;
}

.details{
    gap: 10%;
    text-align: center;
}

.images{
    display: flex;
    width: 30px;
    margin-top: 20%;
    justify-content: space-between;
    gap: 320px;
}

.profile{
    display: flex;
    padding: 50px;
}

@media only screen and (min-width:344px) and(max-width:882px){
    #navbar{
        display: flex;
        justify-content: space-between;
        color: blue;
        background-color: rgb(233, 116, 233);
        flex-wrap: wrap;
    }

    #heading{
        text-align: center;
        margin-left: 30%;
        margin-right: 30%;
        flex-wrap: wrap;
    }

    .mentor{
        width: 50%;
        border-radius: 90%;
        flex-wrap: wrap;
    }

    .details{
        gap: 10%;
        text-align: center;
        flex-wrap: wrap;
    } 

    .images{
        display: flex;
        width: 30px;
        margin-top: 20%;
        justify-content: space-between;
        gap: 320px;
        flex-wrap: wrap;
    }

    .profile{
        display: flex;
        padding: 50px;
        flex-wrap: wrap;
    }

}