#navbar{
    display: flex;
    justify-content: space-between;
    color: blue;
    background-color: rgb(233, 116, 233);
}

#heading{
    text-align: center;
    border:2px solid ;
    background-color: rgb(233, 153, 166);
    border-radius: 30%;
    margin-left: 30%;
    margin-right: 30%;
}

.mentor{
    width: 70%;
    border-radius: 90%;
}

.details{
    gap: 10%;
    text-align: center;
}

#footer{
    display: flex;
    width: 250px;
    height: 105px;
    margin-top: 15%;
    justify-content: space-between;
    gap: 320px;
}