input[type=text]{
    width: 50%;
    padding: 12px;
}

input[type=password]{
    margin-top: 35%;
}

.signin{
    color:black;
    font-size: 35px;
    margin-left: 15%;
}

#signin{
    text-align: center;
    font-size: xx-large;
    align-items: center;
    margin-left: 43%;
    color:white;
    border-radius: 25px;
}
.sign{
    margin-left: 15%;
    width: 115px;
    height: 38px;
    color: whitesmoke;
    background-color: rgb(27, 236, 236);
    font-size: 30px;
    border-radius: 49px;
}

#login{
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 29%;
    border: solid 5px;
    width: 455px;
    height: 540px;
}

#details{
    align-items: center;
    width: 70%;
    justify-content: center;
}

#username{
    display: flex;
}

