#navbar{
    display: flex;
    justify-content: space-between;
    background-color: rgb(233, 116, 233);
}

#dashboard{
    display: flex;
    gap:33%;
    justify-content: center;
    

    
}

.introduction{
    color: rgb(32, 32, 208);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 90%;
    font-weight: 60%;
    margin-top: 1%;

}

.footer{
    width: 129%;
    display: flex;
    gap: 20%;
    margin-top: 10%;
}



@media screen and (min-width: 280px) and (max-width:653px){
    .navbar{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    
    #dashboard{
        display: flex;
        flex-wrap: wrap;
    }

    .introduction{
        color: blue;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: x-large;
        font-weight: 50%;
        flex-wrap: wrap;
    }

    #footer{
        display: flex;
        width: 250px;
        height: 105px;
        margin-top: 15%;
        justify-content: space-between;
        gap: 320px;
        flex-wrap: wrap;
    }
}