.summary{
    font-size: x-large;
    text-align: justify;
    row-gap: 20px;
    column-gap: 25px;

}

.book{
    justify-content: center;
    margin-left: 30%;
}

.image{
    width:100px;
    justify-content: center;
}