ul{
    margin: 0%;
    padding: 0%;
}

ul li{
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    font-size: 28px;
    background-color: orangered;
    width:590px;
}

ul li.checked::before{
    text-decoration: check;
}

.close{
    position: absolute;
    right: 0%;
    padding: 12px 16px 12px 16px;
}

ul li:hover{
    background-color: gray;
}

#goal{
    gap:5;
}

.todo{
    margin-left: 20%;

}
.header{
    margin-left: 20px;
    /* width: 20px; */

}

.heading{
    gap: 20px;
}

#navbar{
    display: flex;
    gap: 90px;
    justify-content: space-between;
    background-color: rgb(233, 116, 233);

}

.view{
    width: 100px;
    height: 35px;
    margin-left: 300px;
    margin-bottom: 50%;
}

.view1 {
    gap: 20px; */
     padding: 1%
    display: flex;
    padding-bottom: 20px;
}

.born{
    display: flex;
padding-top: 10px;


}

.View{
    margin-left: 10px;
    padding: 10px;
}

/* .view2{
    margin-left: 80%;
    
} */