ul{
    margin: 0%;
    padding: 0%;
}

ul li{
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    font-size: 28px;
    background-color: orangered;
    width:590px;
}

ul li.checked::before{
    text-decoration: check;
}

.close{
    position: absolute;
    right: 0%;
    padding: 12px 16px 12px 16px;
}

ul li:hover{
    background-color: gray;
}

#goal{
    gap:5;
}

.todo{
    margin-left: 20%;

}
.header{
    margin-left: 20px;
    width: 20px;
    
}

#navbar{
    display: flex;
    gap: 90px;
    justify-content: space-between;
    background-color: rgb(233, 116, 233);

}